# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Виртуальные окружения
venv/
.venv/
env/

# Секреты
.env
.env.*
!.env.example
!**/.env.example

# IDE
.vscode/
.idea/

# testing
coverage/

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
*.pid